div h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(41, 91, 137);
  }

  div{
    border: solid rgb(177, 177, 222) 0.5px;
    padding:20px;
  }
  *{
    background-color: rgb(213, 221, 226);
  }